form {
  width: 90%;
  max-width: 600px;
  min-height: 400px;
  border-radius: 20px;
  
  background-color: #16181d;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
  margin-bottom: 26px;
}

textarea {
  background-color: #16181d;
  color: #fff;
  border: transparent;
    -webkit-box-shadow: inset 0px 0px 38px -24px rgba(20,158,202,1);
-moz-box-shadow: inset 0px 0px 38px -24px rgba(20,158,202,1);
box-shadow: inset 0px 0px 38px -24px rgba(20,158,202,1);
  padding-left: 18px;
  padding-top: 18px;
  border-radius: 20px;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  min-height: 150px;
  margin-bottom: 30px;
}

.form-button {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Wix Madefor Display', sans-serif;
  border: transparent;
  cursor: pointer;
}

.form-button--agregar {
  background-color: #61DAFB;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
}

.form-button--cancelar {
  background-color: transparent;
  color: #61DAFB;
}