body {
  margin: 0;
  padding: 0;
  background: #16181d;
  color: #FFF;
  font-family: 'Wix Madefor Display', sans-serif;
  height: 100vh;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 15px;
}

/*----Barra lateral web----*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #61DAFB; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #61DAFB; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #61dafbe6; 
}